
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, [col] 1fr);
  grid-template-rows: repeat(5, [row] 1fr);
  grid-gap: 5px;
  max-width: 1280px;
  margin: 0 auto;
}
.Header {
  grid-column: col 1 / col 5;
  grid-row: row 1 / row 2;
  background-color: antiquewhite;
}

.Navbar {
  grid-column: col 1 / col 2;
  grid-row: row 2 / row 6;
  background-image: url("./Asset/Image/works.png");
}
.Container {
  grid-column: col 2 / col 5;
  grid-row: row 2 / row 6;
  background-image: url("./Asset/Image/Header.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
